@import "bootstrap";

$sandyBrown: #BC8F8F;
$padding: 16px;
$fontFreeSerif: FreeSerif;

.head_navbar{
  background-color: $sandyBrown;
  padding: $padding;
  list-style: none;
}

h1,h2,h3{
  font-family: $fontFreeSerif;
  color: #555;
}

p{
  font-family: $fontFreeSerif;
  font-size: 18px;
}

a{
  font-family: $fontFreeSerif;
  font-size: 18px;
  color: #555;
  &:hover {
    color: #222;
  }
}

.footer {
  margin-bottom: 10px;
  padding: $padding;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.footer small {
  float: left;
}

.footer ul {
  float: right;
  list-style: none;
}
.footer ul li {
  float: left;
  margin-left: 15px;
}

.footer_2{
  background-color: #ececec;
  padding: 25px;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
