<div class="row">
  <div class="footer col-9">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur dolores dolorum eum expedita,
        incidunt magnam officia pariatur, praesentium quos, recusandae sequi ut voluptatibus. Culpa dolorem error numquam
        rerum velit.Aperiam consequuntur expedita id ipsum, maxime nostrum! Asperiores distinctio dolorum eaque
        labore quos. Culpa cumque doloremque ea,earum fuga mollitia non, officia, optio quos reiciendis repellat repellendus
        ullam velit vero?
      <br>
      Email address of the site developer for feedback: <a href="https://mail.google.com">egorcloudRuby@gmail.com</a>
    </p>
  </div>
</div>

<div class="footer_2 row">
  <div class="col-6">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur cupiditate, eius error illo illum ipsa itaque
      magni maiores, nesciunt ullam veritatis. Accusamus ducimus illum iste neque perferendis, repellat soluta!
    </p>
  </div>
  <div class="col-6">
    <div class="row justify-content-end">
      <div style="margin-right: 10px"><%= link_to image_tag("gitHub-bbe48010c13f36106f684d7991f0570c.png", width: "48", height:
          "48"),
                                                  "https://github.com" %> Github</div>
      <div style="margin-right: 10px"><%= link_to image_tag("vk_com_logo_svg_768x768.png", width: "48", height: "48"), "https://vk.com" %> VK</div>
      <div style="margin-right: 10px"><%= link_to image_tag("фейсбук.png", width: "48", height: "48"), "https://www.facebook.com" %> Facebook</div>
    </div>
  </div>
</div>